<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    </head>


    <div class="wrapper">
        <div class="title">
            Registration
        </div>

        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(error=>{ %>
                <li>
                    <%= error.message %>
                </li>
                <%  }) %>
                    <% } %>

                        <form class="form" action="/register" method="POST">
                            <div class="social-container">
                                <p>Register with :</p>
                                <a href="#" class="social"><img src="../images/icons/google-brands.svg"></a>
                            </div>

                            <div class="inputfield">
                                <label>First Name</label>
                                <input name="firstname" type="text" class="input">
                            </div>

                            <div class="inputfield">
                                <label>Last Name</label>
                                <input name="lastname" type="text" class="input">
                            </div>


                            <div class="inputfield">
                                <label>Username</label>
                                <input name="username" type="text" class="input">
                            </div>

                            <div class="inputfield">
                                <label>Password</label>
                                <input name="password" type="password" class="input">
                            </div>

                            <div class="inputfield">
                                <label>Confirm Password</label>
                                <input name="password2" type="password" class="input">
                            </div>

                            <div class="inputfield" id="roleSelection">
                                <label>Are you an employee or employer?</label>
                                <div class="custom_select" id="mySelect">
                                    <select name="role" id="mySelect">
                      <option value="">Select</option>
                      <option name="employee">employee</option>
                      <option name="employer">employer</option>
                                    </select>
                                </div>
                            </div>

                            <div class="inputfield">
                                <label>Email Address</label>
                                <input name="email" type="email" class="input">
                            </div>

                            <div class="inputfield">
                                <label>Phone Number</label>
                                <input name="phone" type="text" class="input">
                            </div>

                            <div class="inputfield">
                                <input type="submit" value="Register" class="btn">
                            </div>
    </div>
    </form>
    <%- include('../includes/end.ejs') %>
        <script src="/js/register.js"></script>