<% if(typeof errors != 'undefined'){ %>
  <% errors.forEach(error=>{ %>
      <li><%= error.message %></li>
<%  }) %>
<% } %>

 <!-- Login succeed , passport will store error messages in messages object by passport (./passportConfig)-->
 <ul>
  <% if(messages.error){ %>
      <li><%= messages.error %></li>
  <% } %>
</ul>