<div id="sidebar">
    <div class="sidebar__title">
        <div class="sidebar__img">
            <h1>JOBBABLE</h1>
        </div>
        <i id="sidebarIcon" class="fas fa-times" onclick="closeSidebar()"></i>
    </div>
    
        <% if (user_role == 1) { %>
        <div class="sidebar__menu">
            <div class="sidebar__link active_menu_link">
                <a href="#">Jobs Bookmarks</a>
            </div>
    
            <div class="sidebar__link">
                <i class="fas fa-home"></i>
                <a href="#">Applied History</a>
            </div>
            <div class="sidebar__link">
                <i class="fas fa-bookmark"></i>
                <a href="/Profile">Profile</a>
            </div>
            <div class="sidebar__link">
                <i class="fas fa-wrench"></i>
                <a href="/">Home Page</a>
            </div>
            <div class="sidebar__link">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <% } else if (user_role == 2) { %>
            <div class="sidebar__menu">
                <div class="sidebar__link active_menu_link">
                    <a href="#">Talents Pool</a>
                </div>
        
                <div class="sidebar__link">
                    <i class="fas fa-home"></i>
                    <a href="#">Jobs Posted History</a>
                </div>
                <div class="sidebar__link">
                    <i class="fas fa-bookmark"></i>
                    <a href="/Profile">Profile</a>
                </div>
                <div class="sidebar__link">
                    <i class="fas fa-wrench"></i>
                    <a href="/">Home Page</a>
                </div>
                <div class="sidebar__link">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <% } %>
</div>