<div id="sidebar">
    <div class="sidebar__title">
        <div class="sidebar__img">
            <h1>JOBBABLE</h1>
        </div>
        <i id="sidebarIcon" class="fas fa-times" onclick="closeSidebar()"></i>
    </div>

    <% if (user_role == 1) { %>
        <div class="sidebar__menu">
            <div class="sidebar__link active_menu_link">
                <a href="#">Jobs Bookmarks</a>
            </div>

            <div class="sidebar__link">
                <a href="/apply_history">Applied History</a>
            </div>
            <div class="sidebar__link">
                <a href="/Profile">Profile</a>
            </div>
            <div class="sidebar__link">
                <a href="/">Add jobs to your bookmarks</a>
            </div>
            <div class="sidebar__link">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <% } else if (user_role == 2) { %>
            <div class="sidebar__menu">
                <div class="sidebar__link active_menu_link">
                    <a href="/talent_pool">Talents Pool: Who has applied?</a>
                </div>
            </div>
            <div class="sidebar__link">
                <a href="/job_post">Post a job!</a>
            </div>
            <div class="sidebar__link">
                <a href="/job_posting_history">Jobs Posting History</a>
            </div>
            <div class="sidebar__link">
                <a href="/">View other jobs</a>
            </div>
            <div class="sidebar__link">
                <a href="/logout">Logout</a>
            </div>
</div>
<% } %>
    </div>