<div id="sidebar">
    <div class="sidebar__title">
        <div class="sidebar__img">
            <h1>JOBBABLE</h1>
        </div>
        <i id="sidebarIcon" class="fas fa-times" onclick="closeSidebar()"></i>
    </div>

        <div class="sidebar__menu">
            <div class="sidebar__link active_menu_link">
                <a href="/admin_delete_jobs">Delete Jobs</a>
            </div>
            <div class="sidebar__link">
                <a href="/admin_delete_roles">Delete employers/employees</a>
            </div>
            <div class="sidebar__link">
                <a href="/admin_login">Logout</a>
            </div>
        </div>
</div>
    </div>