<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    </head>


    <div class="wrapper">
        <div class="title">
            Apply jobs
        </div>

        <form class="form" action="/apply_jobs" method="POST">
            <div class="inputfield">
                <input name="apply" type="submit" value="Notify your employer so that your talent can be discovered sooner!" class="btn">
            </div>
    </div>
    </form>
    <%- include('../includes/end.ejs') %>
        <script src="/js/register.js"></script>