<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/register.css">
</head>


<div class="wrapper">
    <div class="title">
        Apply jobs
    </div>

    <form class="form" action="/apply_jobs" method="POST">
        <di class="inputfield">
            <input type="hidden" name="jobsid"  value="<%= jobsId %>"
                class="btn">
            <p> <%= jobsApply %></p>
            <button type="submit" class="btn">Add to apply history!</button>
        </div>
    </form>
</div>
<%- include('../includes/end.ejs') %>
<script src="/js/register.js"></script>